:root {
    --clear-blue: #cfedfd;
    --sky-blue: #bfe6fb;
    --tasks: #9CAF88;
    --dusk-blue: #81b1c9;
    --horizon-blue: #55859f;
    --night-blue: #115376;
}


header {
    background-color: var(--clear-blue);
    width: 100vw;
    padding: 20px 0px 20px 0px;
    background-image: "";
    background-position: center;
    background-size: cover;
}

h1 {
    border: 1px solid var(--sky-blue);
    width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--clear-blue)
}

#todayDate {
    border: 4px solid var(--sky-blue);
    width: fit-content;
    margin-left: 20px;
    padding: 10px;
    background-color: var(--clear-blue);
}

#todayWeather {
    border: 4px solid var(--sky-blue);
    width: fit-content;
    margin-left: 20px;
    padding: 10px;
    background-color: var(--clear-blue);
}

#main-container {
    background-color: var(-blue);
    padding-bottom: 20px;

}

#taskTable {
    background-color: var(--tasks);
    height: 20vh;
    margin: 20px;
}

#cityWeather {
    background-color: var(--weather);
    height: 20vh;
    margin: 20px;
}

#apodImageInfo {
    background-color: var(--apod);
    margin: 20px;
}

footer {
    color: var(--sky-blue);
    background-color: var(--night-blue);
    height: 10vh;
}

.apod {
    background-color: var(--clear-blue);
    width: 300px;
    border: 2px solid var(--sky-blue);
    padding: 10px;
    margin: 2px;
    margin-bottom: 50px;
}

.apod h3 {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background-color: var(--night-blue);
    color: var(--sky-blue);
    text-align: center;
}

.ui-widget {
    background-color: var(--clear-blue);
    width: 300px;
    border: 2px solid var(--sky-blue);
    padding: 5px;
    margin: 2px;
}

.table-section {
    margin-top: 50px;
}

/* Remove Bootstrap styles to use FontAwesome icon and animate it */
.btn, button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

.fa-floppy-disk {
    color: var(--dusk-blue)
}
/* Style the textarea for div color, increase font size and weight */

/* Style weather icon */
.wicon {
    display: flex;
    justify-content: center;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Style weather header */
.ui-widget h2 {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background-color: var(--night-blue);
    color: var(--sky-blue);
    text-align: center;
}